.manage-broadcast-container-page{
    background-color: #ccffcc;
    font-size: 12px;
    }
   
.csf-material-grid .ag-cell{
    line-height: unset;
    border-style: solid;
    border-width: 1px;
    border-top: none; 
    border-left: none;
    padding: 0px;
    text-align: center;
    }

.csf-material-grid .ag-header-cell{
    line-height: unset;
    border-style: solid;
    border-width: 1px;
    border-top: none; 
    
    }
    
.csf-material-grid .ag-header-cell-text{
    color: #FFFFFF;
    }

.csf-material-grid .ag-header{
    height : 48px;
    min-height: 48px;
    background-color: #36b336;
    color: #FFFFFF;
    // text-align: center;
    }

.csfWidgets .row .dataheading{
    font-size: 12px;
    text-align: center;
    background-color: #36b336;
    color: #FFFFFF;
    }
   

.csfWidgets .row .datatext{
    font-size: 12px;
    text-align: center;
    border-style: groove;
    }
   

.csfWidgets .detailInfo{
    border: 1px solid #000;
    margin: auto;
    }
 
    
.datatext2{
    font-size: 12px;
    text-align: left;
    }
  
.upper-div-1{
    border-style: solid;
    border-width: 1px;
    }


