.csp-demo-page-wrapper
    margin: 5px
    padding: 15px
    background-color: #fff
    flex-grow: 1
    overflow auto

.csp-demo-page-section-wrapper
    padding: 15px 0

.csp-demo-page-section
    padding: 15px 0

.csp-demo-page-section__user-pref-input
    padding-bottom: 10px

.csp-demo-page-label
    font-family: Nokia Pure Text Bold

.csp-demo-page__link
    padding-bottom: 10px