.earth-quake-table-container
    padding: 10px

.earth-quake-table-header-container
    display: flex

.earth-quake-table-header-container > div
    padding: 3px 0 3px 2px
    font-family: Nokia Pure Text Medium,Arial,sans-serif

.earth-quake-table-header-container__location
    width: 300px

.earth-quake-table-header-container__mag
    width: 100px

.earth-quake-table-header-container__time
    width: 300px