@font-face
    font-family: 'Nokia Light'
    font-style: normal
    src: url('fonts/NokiaPureText-Light.ttf')

@font-face
    font-family: 'Nokia Regular'
    font-style: normal
    src: url('fonts/NokiaPureText-Regular.ttf')

@font-face
    font-family: 'Nokia Medium'
    font-weight: bold
    src: url('fonts/NokiaPureText-Medium.ttf')

@font-face
    font-family: 'Nokia Bold'
    font-style: normal
    src: url('fonts/NokiaPureText-Bold.ttf')