.rate-plan-widget-container
    display: flex
    flex-grow: 1
    flex-direction: column

.rate-plan-widget-number-rate-plans-container
    padding-bottom: 6px
    font-family: Nokia Pure Text Bold
    font-size: 20px
    color: #4D4D4D

.rate-plan-widget-number-past-rate-plans-container
    padding-bottom: 10px
    font-family: Nokia Pure Text Bold
    font-size: 16px
    color: #4D4D4D

.rate-plan-widget-past-rate-plans-container
    overflow: auto

.rate-plan-widget-past-item-container
    border-bottom: solid 1px #D4D4D4

.rate-plan-widget-past-item-name-container
    font-family: Nokia Pure Text Regular,Arial,sans-serif
    font-size: 14px
    color: rgba(0,0,0,.87)
    padding: 6px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: flex

.rate-plan-widget-past-item-date-container
    font-family: Nokia Pure Text Regular,Arial,sans-serif
    font-size: 14px
    color: rgba(0,0,0,.54)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-left: auto