input 
  user-select: text;
  font-family: Nokia Pure Text Regular,Arial,sans-serif
  font-size: 14px;
  color: rgba(0,0,0,.87);
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 2px;
  padding: 5px 9px;
  min-height: 14px!important;
  max-width: 480px;
  width: calc(100% - 20px);
  margin-bottom: 0;
  height: 18px;
  box-sizing: unset;

.no-suggestions 
  color: #999;
  padding: 0.5rem;

.suggestions 
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

.suggestions li 
  padding: 0.5rem;


.suggestion-active,
.suggestions li:hover 
  background-color: #3370FF;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;


.suggestions li:not(:last-of-type) 
  border-bottom: 1px solid #999;