table.fotaUMPushTestTable 
    margin: 2em

table.fotaUMPushTestTable tbody
    height: 5.97em
    display: inline-block
    overflow-y: scroll

table.fotaUMPushTestTable  tr
    outline: 0.5px dashed grey

table.fotaUMPushTestTable td
    padding: 0.5em 0.5em 0.5em 1em
    font-size: 10px

table.fotaUMPushTestTable .fotaUMborderBox
    padding: 11px 2px 6px 8px
    outline: 1px solid #808080
    margin-left: -11px

.fotaUMborderBox input
    width: 25px
    height: 10px

table.fotaUMPushTestTable tr:nth-child(even)
    border-top: none
    border-bottom: none

table.fotaUMPushTestTable .fotaUMPushNum
    padding: 0px 6px 0px 4px

table.fotaUMPushResultTbl
    margin: 2em
    border-spacing: 0px
    
table.fotaUMPushResultTbl  td
    border: 0.5px dashed grey
    padding-left : 4px
    font-size:10px
    padding-right: 50px

#fotoUMPushResultBtn-button
    background-color: #f9baf9

#fotaUMWhitelistSmsLabel
    padding-top: 2em
    margin-left: 3em
    margin-bottom: -2em
    font-size: 12px
    color: #656363

.fotaUMPushResultTbl thead
    display: none

table.fotaUMPushResultTbl  th
    border: none
    padding : 8px
    font-size:14px
    padding-right: 50px
    color: #656363

#fotaUMWhitelistSmsLabel
    display: none

#fotaUMUploadSMSTestBtn-button ,#fotoUMPushResultBtn-button.button
    background-color: #cbf9cb
    width: 130px
    height: 15px
    padding-left: 0px
    font-size: 10px
    border: 0.5px solid #444343

.button#fotaUMUploadSMSTestBtn-button .button__content, #fotoUMPushResultBtn-button.button .button__content
    color: #444343

table.fotaUMPushResultTbl tr:nth-child(1) td
    border: none

.historyPage
    background-color: #ccffcc
    text-align: left

.search-condition-headLine
    height: 21px 
    bottom: 10px 
    width: 200px
    font-size: 15px 
    font-weight: 200 
    color: rgba(0,0,0,0.87)
    font-family: Nokia Pure Text Medium
    
.hr_rule 
  border-width: 1px 0px 0px 0px
  border-style: solid
  border-color: #02642E
  height: 1px

.csfWidgets > .row
    width: 100%

.csfWidgets > .label
    padding: 15px 0
    width: 25%
    font-size: 40px

.csfWidgets > .col-sm-6  
    width: 75%

.csfWidgets > .row > .col-sm-6.sbp-history-output-form__search-condition
    min-height: 65px
 
.csfWidgets > .row > .col-sm-3.label_width
    padding: 25px 0

.list-group 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

.list-group-item 
    float: left;


.list-group-item a > .autocomplet-dropdown 
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

.required-msg-show
    font-family: Nokia Pure Text Regular,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    padding-top: 3px;
    color: #d32f2f;

.fota-um-result-container{
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.fota-um-result-table-column{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fota-um-result-table-column2{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fota-um-result-table-rowFlex {
  flex: 1;
}

.fota-um-result-table-rowFlex2 {
  flex: 2;
}

.fota-um-result-table-rowFlex.row-data {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  border-color: black;
  border-bottom: none; 
  border-left: none;
}
.manage-broadcast-detail-table-rowFlex.content-height-align {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  border-color: black;
  border-bottom: none; 
  border-left: none;
  height: 3px;
  padding-bottom: 40px
}

.fota-um-result-table-rowFlex.row-header {
  font-size: 12px;
  text-align: center;
  background-color: #36b336;
  color: #FFFFFF;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: none; 
  border-left: none;
}

.fota-um-result-table-rowFlex.row-header.rowspan1 {
  flex: 1;
}
.fota-um-result-table-rowFlex.row-header.rowspan2{
  flex: 2;
}

.manage-broadcast-detail-table-rowFlex.row-data.rowspan4 {
  flex: 4;
}

