.deliveryRegulationPage
    background-color: #ccffcc
    text-align: left

.ag-head-style 
    height: 50px;
    top: 5px;

.ag-header-container
    background-color: #36b336

.my-css-class
    line-height: 30px

div#basicLabel
    padding-top: 27Px
    padding-left: 20px
    font-size: 25px
div#zero1
    border-left: none

div#date-toggleInput
    padding-top: 12px

div#time-toggleInput
    padding-top: 12px

.ag-cell-label-container.ag-header-cell-sorted-none
    width: 500px

.csf-material-grid .ag-cell
    border-right: solid
    border-left: solid
    border-bottom: solid
    border-width: 1px
    padding: 2px
    
.hr_rule 
  border-width: 1px 0px 0px 0px
  border-style: solid
  border-color: #02642E
  height: 1px
.fieldEditable
  readonly: false
.ag-header-cell
  border: .5px solid black
  height: 100%
  vertical-align: bottom
.required-msg-show
    font-family: Nokia Pure Text Regular,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    padding-top: 3px;
    color: #d32f2f;
    