.historyPage
    background-color: #ccffcc
    text-align: left

.search-condition-headLine
    height: 21px 
    bottom: 10px 
    width: 200px
    font-size: 15px 
    font-weight: 200 
    color: rgba(0,0,0,0.87)
    font-family: Nokia Pure Text Medium
    
.hr_rule 
  border-width: 1px 0px 0px 0px
  border-style: solid
  border-color: #02642E
  height: 1px

.csfWidgets > .row
    width: 100%

.csfWidgets > .label
    padding: 15px 0
    width: 25%
    font-size: 40px

.csfWidgets > .col-sm-6  
    width: 75%

.csfWidgets > .row > .col-sm-6.sbp-history-output-form__search-condition
    min-height: 65px
 
.csfWidgets > .row > .col-sm-3.label_width
    padding: 25px 0

.list-group 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

.list-group-item 
    float: left;


.list-group-item a > .autocomplet-dropdown 
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

.required-msg-show
    font-family: Nokia Pure Text Regular,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    padding-top: 3px;
    color: #d32f2f;
