.due-date-container
    width: 100%

.due-date-container__start
    text-align: center
    font-size: 22px
    padding-top: 20%
    color: #4d4d4d

.due-date-container__date
    font-size: 40px
    color: #d80b0b
    text-align: center
    font-family: Nokia Pure Text Bold, Arial, sans-serif