.rate-plan-pending-container
    display: flex
    flex-direction: column
    flex-grow: 1

.rate-plan-pending__header
    padding: 15px
    text-align: center
    margin: 0 auto
    font-size: 20px
    color: #4d4d4d

.rate-plan-pending-plans-container
    padding-top: 20px

.rate-plan-pending-item-container
    border-bottom: solid 1px #D4D4D4

.rate-plan-pending-item-name-container
    font-family: Nokia Pure Text Regular,Arial,sans-serif
    font-size: 14px
    color: rgba(0,0,0,.87)
    padding: 6px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis