.approvals-page-container
    padding: 10px
    display: flex
    flex-grow: 1

.approvals-page-container .csfWidgets .spinner-obj
    height: 150px!important
    width: 150px!important  

.approvals-page-container__padding
    padding: 10px
    background-color: #fff
    display: flex
    flex-grow: 1
