.approvals-grid-container
    display: flex
    flex-direction: column
    flex-grow: 1

.approvals-grid-container__grid
    height: 100%
    padding-top: 30px

.approvals-grid-header
    display: flex
    padding-bottom: 15px

.approvals-grid-header__label
    font-family: Nokia Pure Text Bold, Arial, sans-serif
    padding-left: 15px