.earth-quake-row
    display: flex

.earth-quake-row .csfWidgets.label
    padding: 7px 
    border: solid #8080802b 1px

.earth-quake-row__place
    width 300px

.earth-quake-row__mag
    width 100px

.earth-quake-row__place
    width 300px

.earth-quake-row .csfWidgets.label label
    position: relative
    top: 2px

.earth-quake__label
    font-size: 12px
    color: rgba(0,0,0,.54)
    line-height: 15px
    min-height: 15px
    margin-bottom: 3px
    user-select: auto!important