.Snackbar__Container
    position: fixed
    display: flex
    bottom: 0
    z-index: 800;
    transform: translateY(48px)
    width: 100%

.Snackbar__Container--Open
    transform: translateY(0px)
    transition: .500s linear;
