.radio #radio-container-id
    display:flex

#radio-container-id .csfWidgets .radio-container
    width: 150%
    margin: 10px
    max-width: unset
    min-width: unset
#targetnextBtn .button ,#targetnextBtn .button .button__content,#targetnextBtn .button:hover
    background: #93febf
    

#targetsubmitBtn .button ,#targetsubmitBtn .button .button__content,#targetsubmitBtn .button:hover
    background: #93febf

.pdfhide
    display: none
.m2mhide
    display: none

#pdftestMessage .csfWidgets.formLayout.formLayout 
    padding: 2px;
    margin-top: -44px

#regTextArea-textArea
    margin-left: -120px;
    height: 186px;
    width: 300px;
#ngListArea-textArea
    border: 2px dashed #b1b5bd;
#deletedArea-textArea
    border-radius: 12px;
    max-width: 359px    
    
