.radio #radio-container-id
    display:flex

#radio-container-id .csfWidgets .radio-container
    width: 150%
    margin: 10px
    max-width: unset
    min-width: unset
#nextBtn .button .button--call-to-action,#nextBtn .button.button--call-to-action:not(.button--disabled):hover,#nextBtn .button.button--call-to-action,#nextBtn .button .button--call-to-action:not(.button--disabled):focus,#nextBtn .button.button--call-to-action:not(.button--disabled):active
    background-color:#93febf
    
#submitBtn .button ,#submitBtn .button .button__content,#submitBtn .button:hover
    background: #93febf

.show
    display:block
.hide
    display:none
.flex
    display:flex