.uscc-service-profile-slide-out-container
    position: absolute
    right: 0
    top: 89px
    width: 0px
    height: 86%
    visibility: hidden
    transition-duration: 0.2s
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1)
    transition-property: width, visibility
    background-color: #fafafa

.uscc-service-profile-slide-out-container__open
    width: 300px
    visibility: visible
    z-index: 8000

.uscc-service-profile-slide-out-container__background
    background-color: #fff
    border: solid #fafafa 1px
    padding: 10px

.uscc-service-profile-slide-out-label-container
    font-family: Nokia Pure Text Bold
    padding: 10px 0
    display: flex
    flex-direction: row

.uscc-service-profile-slide-out-label-container__button
    margin-left: auto
    position: relative
    top: -7px

.uscc-service-profile-slide-out-select-container
    padding: 10px 0

.uscc-service-profile-slide-out-select-container__button
    padding-top: 10px

.uscc-service-profile-slide-out--chip-container
    display: flex
    flex-wrap: wrap

.uscc-service-profile-slide-out--chip-container .csfWidgets .chips
    margin: 5px 3px 5px 0