.billing-summary-admin-container .csfWidgets .header
.billing-summary-admin-container .csfWidgets .title
    display: none

.billing-summary-admin-container .csfWidgets .main .chart .recharts-tooltip-wrapper
    top: -80px!important
    left: -60px!important
    max-width 400px

.billing-summary-admin-container .csfWidgets .csf-widgets-cartesian-charts .custom-tooltip
    flex-direction: row!important
    flex-wrap: wrap!important

.billing-summary-admin-container .csfWidgets .main .chart .recharts-tooltip-wrapper .custom-tooltip .title
    width: 100%
    display: block

.billing-summary-admin-container .csfWidgets .main .chart .recharts-tooltip-wrapper .custom-tooltip hr
    display: none

.billing-summary-admin-container .csfWidgets .csf-widgets-cartesian-charts .horizontal-axis
    bottom: 7px
    position: relative
