.domain-page-title
    border-bottom: solid 1px #ccc;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;

.domain-page
    padding: 20px;
    margin-left: 300px;

.domain-container
    &.domain-osv
        background-color: #fcffb2;
    &.domain-sbp
        background-color: #cfc;
    &.domain-fum
        background-color: #ffe0e0;
    &.domain-pvi
        background-color: #e0f1f8;