.rate-plans-grid-container
    display: flex
    flex-direction: column
    flex-grow: 1

.rate-plans-grid-container__grid
    height: 100%

.rate-plans-grid-header
    display: flex
    padding-bottom: 15px

.rate-plans-grid-header__label
    font-family: Nokia Pure Text Bold, Arial, sans-serif
    padding-left: 15px