.account-device-container
    flex-grow: 1

.account-device-container .csfWidgets .pie-chart-header
    display: none

.account-device-container .csfWidgets .pie-graph .recharts-wrapper
    top: -110px!important
    left: -15px!important

.account-device-container .csfWidgets .pie-graph .popup
    top: -20px
    left: 10px!important
    max-width 275px
    right: auto!important

.account-device-container .csfWidgets .pie-graph .popup .popupContainer
    position: relative
    min-width: 35px
    max-width: 175px
    text-align: center

.account-device-container .csfWidgets .pie-graph .popup .popupContainer .name
    overflow hidden
    text-overflow: ellipsis

.account-device-container .csfWidgets .pie-graph .popup .popupContainer .value
    display: none!important

.account-device-container .csfWidgets .pie-graph .popup .popupContainer .percent
    font-size: 28px!important
    line-height: 21px!important
    padding-left: 8px!important

.account-device-container .csfWidgets
    height 215px!important
    width 329px!important
