.devices-details-container
    padding: 15px
    background-color: #fff
    flex-grow: 1

.devices-details-header-container
    display: flex

.devices-details-close-container
    margin-left: auto
    position: relative
    top: -5px

.devices-details-header__bold
    font-size: 18px
    font-family: Nokia Pure Text Bold, Arial, sans-serif
    padding-bottom: 15px


.devices-details-item-container
    display: flex
    padding-bottom: 10px
    width: 30%

.devices-detail__value
    padding-left: 1px
    margin-top: 4px

.devices-details-items-container
    display: flex
    flex-wrap: wrap
