.csfWidgets > .row > .col-sm-3.label_width
    padding: 25px 0

.csfWidgets > .row > .col-sm-12.button_width
    padding-left: 250px

.required-msg-show
    font-family: Nokia Pure Text Regular,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    padding-top: 3px;
    color: #d32f2f;