.account-grid-container
    display: flex
    flex-direction: column
    flex-grow: 1

.account-grid-container__grid
    height: 100%
    padding-top: 30px

.account-grid-container__grid .csf-material-grid .ag-body-viewport
    overflow-x: hidden

.account-grid-header
    display: flex
    padding-bottom: 15px

.account-grid-header__label
    font-family: Nokia Pure Text Bold, Arial, sans-serif
    padding-left: 15px